<!DOCTYPE html>
<container>  
<container>
    <row class="sub-footer">
        <columns large="3">
          <p>
            Call us at 888.280.4331<br/>
            Email us at shipment-tracking@amazon.com
          </p>
        </columns>
        <columns large="3">
          <p>
            123 Maple Rd<br/>
            Campbell, CA 95112
          </p>
        </columns>
      </row>
    <row class="footer-bottom" style="background-color: red;">
        <columns>
            <row class="privacy">
                <columns>
                    <p>
                        Unless otherwise noted, items sold by Amazon.com are subject to sales tax in 
                        select states in accordance with the applicable laws of that state. If your order 
                        contains one or more items from a seller other than Amazon.com, it may be subject 
                        to state and local sales tax, depending upon the sellers business policies and the 
                        location of their operations. Learn more about 
                        <a href="https://www.amazon.com/gp/help/customer/display.html?ie=UTF8&nodeId=202029700&ref_-=scr_help_tax&ref_=pe_386300_442618370">
                        tax and seller information.</a>
                    </p>
                </columns>
            </row>
            <row class="copyright">
                <columns>
                    <p>
                        &#9400; 2020 Amazon E-commerce Corporation
                    </p>
                </columns>
            </row>
        </columns>
    </row>
</container>